@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  /* Colors */
  --primary-color: #0C365A;
  --secondary-color: #00b85c;
  --tertiary-color: #23CEFD;
  --text-color: #222222;
  --white: #fff;
  --background-light: #FCFCFC;
  --button-primary: #325BAF;
  --blue-color: #e0f0ff;
  --green-color: #dcfce7;
  --pink-color: #fde2e2;
  --black: #222;
  --blue-text: #1a73e8;
  --border-color: #e0e0e0;
  --green-background: #EDFFF5;
  --green-hover: #E5FFF0;
  --grey-color: #eee;
  --grey-text: #666;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  /* Font Sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;

  /* Z-index */
  --z-index-modal: 9999;
  --z-index-header: 100;
  --z-index-dropdown: 50;
} 

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

ul,
li {
  padding: 0;
  list-style: none;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.container {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 20px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .main {
    padding: 0 !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    grid-template-columns: 35% 65%;
  }
}

.main {
  padding: 40px 40px 0 0;
}
